* {
  box-sizing: border-box;
}

body {
  padding-left: auto 0;
  margin: 0;
  background-color: #FF977E;
}

h1, div.searchbar {
  text-align: center;
  margin: 20px 0;
}

div.searchbar, .scroll, #print {
  animation-delay: 2.2s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  min-height: 500px;
  width: 90vw;
  border: 2px solid green;
  border-radius: 5px;
  margin: auto auto;
  margin-top: 15px;
  background-color: #EC6153;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 30px;
}

div.scroll {
  margin: 0 auto;
  overflow-y: scroll;
  max-height: 55vh;
  min-height: 20vh;
  width: 70vw;
  border: 2px solid green;
  border-radius: 5px;
  background-color: #FFC255;
}

.delete, .importancebtn {
  float: right;
  margin: 0.9rem 5px 0.3rem 0;
}

.importance {
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: -8px;
  color: red;
}

.done {
  text-decoration: line-through;
}

.newText {
  display: inline-block;
  font-family: 'Gloria Hallelujah';
  font-size: 20px;
  margin: 2px 0;
  animation-delay: -0.5s;
}

.btnsdiv {
  display: inline-block;
  float: right;
  margin-left: auto; 
}

